<mat-card class="profile-content">
  <mat-card-content class="">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="{{ patient?.image }}" mat-card-avatar />
      <h3 class="name">{{ patient?.name }}</h3>
      <p class="age">3 ans</p>
    </div>
    <div class="details" fxLayout="row" fxLayoutAlign="">
      <mat-list role="list" class="list">
        <mat-list-item role="listitem">عنوان السكن:</mat-list-item>
        <mat-list-item role="listitem"> المدرسة:</mat-list-item>
        <mat-list-item role="listitem"> الحالة:</mat-list-item>
      </mat-list>
    </div>
    <mat-divider></mat-divider>
    <div class="note">
      <p class="note-title">الملاحظات:</p>
    </div>
  </mat-card-content>
</mat-card>
