<mat-card class="profile-content">
    <mat-card-content class="">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h3 class="name">{{ User?.nom }}</h3>
        
      </div>
      <div class="details" fxLayout="row" fxLayoutAlign="">
        <mat-list role="list" class="list">
          <mat-list-item role="listitem">نوع المستخدم : {{User?.typeUser}} </mat-list-item>
          <mat-list-item role="listitem"> رقم الهاتف: {{User?.telephone}} </mat-list-item>
          <mat-list-item role="listitem"> البريد الألكتروني: {{User?.email}} </mat-list-item>
          <mat-list-item role="listitem"> رقم الدخول: {{User?.loginNumber}} </mat-list-item>
          <mat-list-item role="listitem"> كلمة السر:  {{User?.password}} </mat-list-item>
        </mat-list>
      </div>
      <mat-divider></mat-divider>
      <div class="note">
        <p class="note-title">الملاحظات:</p>
      </div>
    </mat-card-content>
  </mat-card>