<mat-card class="list-etudiant">
  <mat-card-title>
    <p class="card-title">قائمة الأطفال المضافين</p>
  </mat-card-title>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>رقم</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>الاسم </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

    
      <!-- Symbol Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>اللقب</th>
        <td mat-cell *matCellDef="let element">{{ element.familyName}}</td>
      </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>العمر</th>
          <td mat-cell *matCellDef="let element">{{ element.birthdate }}</td>
        </ng-container>
  
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>البريد الالكتروني</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>الهاتف</th>
        <td mat-cell *matCellDef="let element">{{ element.parent.telephone }}</td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>تغيير</th>
        <td mat-cell *matCellDef="let element;index as i">
          <a class="pointer" matTooltip="تحرير هذا المستخدم">
            <i class="fa-solid fa-pencil edit-icon"></i>
          </a>
          <a
            class="pointer"
            matTooltip="حذف هذا المستخدم"
            (click)="delete(element.id,i)"
          >
            <i class="fa-solid fa-trash-can delete-icon"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns,let i= index;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" style="text-align: right;"></mat-paginator>
  </mat-card-content>
</mat-card>
