<mat-card class="list-etudiant">
  <mat-card-title>
    <p class="card-title">قائمة الأطفال المضافين</p>
  </mat-card-title>

  <mat-card-content>
    <table mat-table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>رقم</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>الاسم و اللقب</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>العمر</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>الوضع</th>
        <td mat-cell *matCellDef="let element">{{ element.state }}</td>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>البريد الالكتروني</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>الهاتف</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>تغيير</th>
        <td mat-cell *matCellDef="">
          <a
            class="pointer"
            style="color: rgb(0, 255, 128)"
            matTooltip="تحرير هذا المستخدم"
          >
            <mat-icon>edit</mat-icon>
          </a>
          <a
            class="pointer"
            style="color: rgb(255, 0, 0)"
            matTooltip="حذف هذا المستخدم"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
