.spacer {
    flex: 1 1 auto;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field.class1 {
    font-size: 14px;
    width: 100%;
  }
  th  {
    width: 18%;
    padding-left: 6rem;
  }
  .pointer {
    cursor: pointer;
  }
  span {
    padding-right: 1rem;
    margin-left: 1%;

  }

  


