<mat-toolbar class="header">
  <div class="header-toolbar">
    <!--  <app-search></app-search>

    <app-email [emails]="emails$ | async"></app-email>-->
    <!-- <div
      class="search"
       (click)="showInput()"
      [ngClass]="{ 'show-search-input': isShowInput }"-->
    <app-user></app-user>
    <div class="divider"></div>
    <app-notifications></app-notifications>
    <div class="divider"></div>

    <div class="search">
      <input class="search-input" placeholder="بحث" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="divider"></div>
  </div>
  <button mat-icon-button fxShow="true" fxHide.gt-sm [matMenuTriggerFor]="bell">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="nav-title" fxShow="true" fxHide.lt-md>
    <mat-nav-list class="nav-list">
      <a
        mat-list-item
        [routerLink]="['/doctor-consultation']"
        routerLinkActive="link-active"
        class="link"
        >التشخيص</a
      >
      <a
        mat-list-item
        [routerLink]="['/doctor-chat']"
        routerLinkActive="link-active"
        href=""
        class="link"
        >الرسائل</a
      >
      <a mat-list-item href="" class="link">جدول المواعيد</a>
      <a
        mat-list-item
        [routerLink]="['/doctor-appointment']"
        routerLinkActive="link-active"
        href=""
        class="link"
        >لوحة المتابعة</a
      >
      <a mat-list-item href="" fxShow="true" fxShow.lt class="logo">افهمني</a>
    </mat-nav-list>
  </div>
</mat-toolbar>
<mat-toolbar class="hello"> مرحبا </mat-toolbar>
<mat-menu #bell="matMenu" xPosition="before" class="mobile-menu">
  <mat-nav-list class="nav-list-mobile">
    <a
      mat-list-item
      [routerLink]="['/doctor-consultation']"
      routerLinkActive="link-active"
      class="link"
      >التشخيص</a
    >
    <mat-divider></mat-divider>
    <a
      mat-list-item
      [routerLink]="['/doctor-chat']"
      routerLinkActive="link-active"
      href=""
      class="link"
      >الرسائل</a
    >
    <mat-divider></mat-divider>
    <a mat-list-item href="" class="link">جدول المواعيد</a>
    <mat-divider></mat-divider>
    <a
      mat-list-item
      [routerLink]="['/doctor-appointment']"
      routerLinkActive="link-active"
      href=""
      class="link"
      >لوحة المتابعة</a
    >
    <mat-divider></mat-divider>
  </mat-nav-list>
</mat-menu>
