<div fxLayout="row wrap" >
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100"*ngFor="let enfant of data; let i = index">
    
    <mat-card *ngIf="enfant.scoreParent>6" 
    
     style="margin: 16px;
    background-color: rgb(235, 78, 88);" class="profile-content">
    
      <mat-card-content   >
        <div  class="item-content">
          <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img" mat-card-avatar />
            </a>
              
            <h3  class="name"style="color: aliceblue">{{enfant.name}}</h3>
             <span class="age"style="color: aliceblue">{{enfant.familyName}}</span>
            
          </div>
          <div class="image-box">
            
          </div>
        </div>
    
        
      </mat-card-content>
      <mat-divider class="lignes"></mat-divider>
      <mat-card-actions>
        <a class="card-button" *ngIf="enfant.supervise==null"
        style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>إسناد موعد </a>
        <a class="card-button" *ngIf="enfant.supervise!=null"
        style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>المعطيات </a>
      </mat-card-actions>
    </mat-card>
    <mat-card  *ngIf="enfant.scoreParent >= 3 && enfant.scoreParent<=6"
    
      style="margin: 16px; 
     background-color: #4791c2;" class="profile-content">
     
       <mat-card-content   >
         <div  class="item-content">
           <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img1" mat-card-avatar />
            </a>
            <h3  class="name" style="color: aliceblue">{{enfant.name}}</h3>
             <span class="age"style="color: aliceblue">{{enfant.familyName}}</span>
            
           </div>
           <div class="image-box">
             
           </div>
         </div>
     
         
       </mat-card-content>
       <mat-divider class="lignes"></mat-divider>
       <mat-card-actions>
         <a class="card-button" *ngIf="enfant.supervise==null"
            style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>إسناد موعد </a>
            <a class="card-button" *ngIf="enfant.supervise!=null"
            style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>المعطيات </a>
       </mat-card-actions>
     </mat-card>
     <mat-card *ngIf="enfant.scoreParent<3"
    
      style="margin: 16px;
     background-color: #9ddb4c;" class="profile-content">
     
       <mat-card-content   >
         <div  class="item-content">
           <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img2" mat-card-avatar />
            </a>
            <h3  class="name"style="color: aliceblue">{{enfant.name}}</h3>
             <span class="age"style="color: aliceblue">{{enfant.familyName}}</span>
           
           </div>
           <div class="image-box">
             
           </div>
         </div>
     
         
       </mat-card-content>
       <mat-divider class="lignes"></mat-divider>
       <mat-card-actions>
        <a class="card-button" *ngIf="enfant.supervise==null"
        style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>إسناد موعد </a>
        <a class="card-button" *ngIf="enfant.supervise!=null"
        style="margin-left: 30%;font-size: 115%;color: aliceblue;padding-right: 7rem;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"style="color: aliceblue;"></i>المعطيات </a>
       </mat-card-actions>
     </mat-card>
    
       
  </div>
</div>
    