<div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100"*ngFor="let enfant of enfants; let i = index">
    <mat-card *ngIf="enfant.situation>=70"
    
     style="margin: 16px;
    background-color: #0a71b3;" class="profile-content">
    
      <mat-card-content   >
        <div  class="item-content">
          <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img" mat-card-avatar />
            </a>
              
            <h3  class="name">{{enfant.nomEnfant}}</h3>
            <span class="age">{{enfant.nomParent}}</span>
          </div>
          <div class="image-box">
            
          </div>
        </div>
    
        
      </mat-card-content>
      <mat-divider class="lignes"></mat-divider>
      <mat-card-actions>
        <a class="card-button"
           style="margin-left: 30%;font-size: 55%;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"></i>إسناد موعد </a>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngIf="enfant.situation<=30"
    
      style="margin: 16px;
     background-color: #8abbdb;" class="profile-content">
     
       <mat-card-content   >
         <div  class="item-content">
           <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img" mat-card-avatar />
            </a>
             <h3  class="name">{{enfant.nomEnfant}}</h3>
             <span class="age">{{enfant.nomParent}}</span>
           </div>
           <div class="image-box">
             
           </div>
         </div>
     
         
       </mat-card-content>
       <mat-divider class="lignes"></mat-divider>
       <mat-card-actions>
         <a class="card-button"
            style="margin-left: 30%;font-size: 55%;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"></i>إسناد موعد </a>
       </mat-card-actions>
     </mat-card>
     <mat-card *ngIf="enfant.situation>30 && enfant.situation<70"
    
      style="margin: 16px;
     background-color: #549dca;" class="profile-content">
     
       <mat-card-content   >
         <div  class="item-content">
           <div class="description">
            <a  (click)="rendezvous(enfant)">
              <img [src]="img" mat-card-avatar />
            </a>
             <h3  class="name">{{enfant.nomEnfant}}</h3>
             <span class="age">{{enfant.nomParent}}</span>
           </div>
           <div class="image-box">
             
           </div>
         </div>
     
         
       </mat-card-content>
       <mat-divider class="lignes"></mat-divider>
       <mat-card-actions>
         <a class="card-button"
            style="margin-left: 30%;font-size: 55%;" (click)="rendezvous(enfant)"><i class="fa-solid fa-user switch"></i>إسناد موعد </a>
       </mat-card-actions>
     </mat-card>
    
       
  </div>
</div>
    