<!--<mat-card *ngFor="let medecin of medecins" dir="rtl" class="profile-content">
    <mat-card-content class="">
      <div class="item">
        <img src="./assets/images/users/user-1.jpg" mat-card-avatar />
        <div class="item-box">
          <div class="description">
            <h3>{{medecin.nom}}</h3>
            <span class="status">Médecin</span>
          </div>
  
          <div class="details" fxLayout="row" fxLayoutAlign="center">
            <mat-list role="list" class="list">
              <mat-list-item role="listitem">Tel:{{medecin.telephone}}</mat-list-item>
              <mat-list-item role="listitem"
                >Email:{{medecin.email}}</mat-list-item
              >
              <mat-list-item role="listitem">Region:{{medecin.gouvernat}}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

-->
  
<mat-card *ngFor="let medecin of medecins" class="profile-content">
    <mat-card-content>
      <div class="item-content">
        <div class="description">
          <h3 class="name">{{medecin.nom}}</h3>
          <span class="age">طبيب مختص</span>
        </div>
        <div class="image-box">
          <img [src]="img" mat-card-avatar />
        </div>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <a class="card-button"
        ><i class="fa-solid fa-circle-arrow-up switch"></i>تحويل
      </a>
      <a class="card-button card-button-left">
        <i class="fa-solid fa-circle-check done"></i>تاكيد</a
      >
    </mat-card-actions>
  </mat-card>
  