<app-header></app-header>
<body>
    <body>
        
        <div class="waviy">
            <span style="--i:17">Y</span>
            <span style="--i:16">S</span>
            <span style="--i:15">P</span>
            <span style="--i:14">O</span>
            <span style="--i:13">D</span>
            <span style="--i:12">E</span>
            <span style="--i:11">P</span>
            <span class="cent" style="--i:10">*</span>
            <span style="--i:9"></span>
            <span style="--i:8">E</span>
            <span style="--i:7">G</span>
            <span style="--i:6">A</span>
            <span style="--i:5">R</span>
            <span style="--i:4">E</span>
            <span style="--i:3">P</span>
            <span style="--i:2">E</span>
            <span style="--i:1">R</span>
         
           </div>
    </body>
</body>
<div class="alert alert-success text-center h1" >
    شكرا لإستعمالك المنصّة ننتظر تكملة إستمارة الولي
</div>