<p class="page-title">المواعيد</p>

<div class="box" fxLayout="row wrap" fxLayoutAlign="space-between center">


</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="50">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-chealdren-profile></app-chealdren-profile>
  </div>
</div>
