<app-header></app-header>

<div style="background-color: rgb(224, 235, 247);">
  <p class="page-title">قائمة الأطفال</p>

 
<div class="box" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div class="d-flex justify-content-center align-items-center">
    <p class="mx-3 d-flex align-items-center">
      <span class="dots red mx-3"></span>
      <span class="etat">عاجل</span>
      </p>
      <p class="mx-3 d-flex align-items-center">
        <span class="dots green mx-2"></span>
        <span class="etat">سليم</span>
        </p>
        <p class="mx-3 d-flex align-items-center">
          <span class=" dots blue mx-3"></span>
          <span class="etat">غير عاجل</span>
          </p>
  </div>

</div>

    <app-profile-apointement></app-profile-apointement>
 
</div>
