<mat-card>
  <mat-card-title> المرضى</mat-card-title>
  <mat-card-content>
    <div class="search" fxLayout="row">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        type="search"
        class="search-input"
        placeholder="بحث"
        [(ngModel)]="userName"
      />
    </div>

    <mat-nav-list>
      <!--   <a
        mat-list-item
        [routerLink]="['/doctor-appointment']"
        class="link active"
      >
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span> Orly Etoo</span>
        </p>
      </a>
      <a mat-list-item [routerLink]="['/doctor-appointment']" class="link">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span> Imed Akrouti</span>
        </p>
      </a> -->

      <a
        mat-list-item
        *ngFor="let item of patients | filterUsers: userName"
        [routerLink]=""
        [ngClass]="{ active: item === patient }"
        (click)="onSelect(item)"
        class="link"
      >
        <img matListAvatar src="{{ item.image }}" alt="..." />
        <p matLine>
          <span> {{ item.name }}</span>
        </p>
      </a>
      <!--   <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box active">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item>
      <mat-list-item class="contact-box">
        <img matListAvatar src="./assets/images/users/user-2.jpg" alt="..." />
        <p matLine>
          <span class="last-login"> min 04 </span>
          <span> Imed Akrouti</span>
        </p>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-card-content>
</mat-card>
