<mat-card class="profile-content">
    <mat-card-content class="">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img src="./assets/images/users/imageskkf.jfif"  mat-card-avatar />
        <h3 class="name">{{enfant?.name}}</h3>
        <p class="age">تلميذ</p>
      </div>
      <div class="details" fxLayout="row" fxLayoutAlign="">
        <mat-list role="list" class="list">
          
          <mat-list-item role="listitem"> الأسم: {{enfant?.name}}</mat-list-item> 
          <mat-list-item role="listitem"> اللقب : {{enfant?.familyName}}</mat-list-item>
          <mat-list-item role="listitem"> تاريخ الميلاد :{{enfant?.birthdate}}</mat-list-item>
          
          
          <mat-list-item role="listitem">الولاية :{{enfant?.gouvernat}}</mat-list-item>
  
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>
  
  
  