/* .landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-side {
  width: 40%;
}
*/
// img {
//  height: 80vh;
// }
//  input{
//   width: 300px;
//   height: 40px;
//   background: #eee;
//  }
//  .login-landing{
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//    height:100vh;
//    //width: 100vw;
//    background-image: url('../../../assets/images/landing/doctorandchild2.jpg') ;
//    background-size: cover;
//    background-position: center;
//    background-repeat: no-repeat;
//  }
// .login{
//   display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//    border-radius: 8px;
//     border: 2px solid #80808066;
  
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0,0,0,0.3);
//     z-index: 2;
//     cursor: pointer;
// }
// .title{
//   font-size: 30px;
//   letter-spacing: 0.2cm;
//   color:#0dcaf0;
//   font-weight: 700;
//   margin-bottom:20px;

// }
// .subtitle{
//   font-size: 20px;
//   color:rgba(238, 238, 238, 0.986);

// }
// .button{
//   width: 300px;
//    margin: 3% 0; 
//    font-size: 20px;
//  }
input{
  height: 40px;
  box-shadow: none;
}
.password{
  display: flex;
  border:1px solid #ccc;
  width:350px;
  height: 36px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px !important;
}
.password input{
  border:none !important;
  box-shadow:none !important;
  height: 30px !important;
  margin-bottom: 0px !important;
}