
<div class=" row login-landing">

  <div class="col-md-4">
    <div class="card p-4 login">
      <div>
        <span class="title">إفهمني</span>
     </div>
     <div style="margin-top: 8%; margin-bottom:3%;color:  rgba(100,109,130,1); margin-right: 13%; ">
       <span class="subtitle">مرحبا ، من فضلك سجل الدخول</span>
     </div>
     
     <form [formGroup]="userForm"> 
     
       <div class="form-group">
          
          <input type="loginNumber"
          
         
          class="form-control"
          placeholder="البريد الإلكتروني"
          formControlName="loginNumber"
            />
           <div class="invalid-feedback">
            <span >
              البريد الإلكتروني غير صحيح
            </span>
            
           
          </div>
      
        </div>
       
    
        <div class="form-group">
           
           <input 
           id="mdp"
           type="password"
          
           class="form-control"
           placeholder="كلمة السر" 
           formControlName="password"
           
           required
           />
            
         </div>
         <button  type="submit"
         class="btn btn-primary button" (click)="onSignin($event)" >تسجيل الدخول          
         </button>       
       <div style="margin-right: 13%; margin-top: 2%;" >
        <a class="subtitle"routerLink="/forgetpassword" routerLinkActive="active">نسيت كلمة السر ؟
      </a>
      </div>      
      <button type="button"
      
       class="btn btn-primary button" (click)="onSignup()" >التسجيل 
         
      </button>
        
       </form>
    </div>
  
</div>
</div>




