<div>
    <div id="Text_bw">
      <span>إفهمني</span>
    </div>
    
    <div id="n_____">
      <span>مرحبا ، من فضلك سجل الدخول</span>
    </div>
    
    
    <div id="label" class="label">
      <div id="label_bm">
        <div id="label_bn" class="label">
          <form style="width: 330px;">
          <input type="email" class="form-control" placeholder="البريد الإلكتروني"> 
      <br>
      <br>
        <input type="password" class="form-control"  placeholder="كلمة السر">
      </form>
        </div>
      </div>
    
      
    
      <div (click)="onSignin()" id="btn_login" routerLink="">
        <svg class="Rectangle_166">
          <rect id="Rectangle_166" rx="4" ry="4" x="0" y="0" width="400" height="50">
          </rect>
        </svg>
        <div id="n__bv">
          <span>تسجيل الدخول<br/></span><br/> 
        </div>
      </div>
    
    
     <div (click)="onSignup()" id="btn_signup">
      <svg class="Rectangle_167">
        <rect id="Rectangle_167" rx="4" ry="4" x="0" y="0" width="185" height="50">
        </rect>
      </svg>
      <div id="n__">
        <span>التسجيل<br/></span><br/>
      </div>
    </div>
    
    
    <div id="n___">
      <a routerLink="/forgetpassword" routerLinkActive="active">نسيت كلمة السر ؟</a>
      
    </div>
    
    </div>
    
     <img src="assets/img1.png" id="img1" >
    
    </div>
    
  
