<app-header></app-header>


<mat-sidenav>
  
</mat-sidenav>
  
      
        <div class="contents">
          
 
         <!-- <mat-form-field appearance="fill">
            <mat-label>spécialité</mat-label>
            <mat-select (selectionChange)="chercheMedecin($event)" #input>
              <mat-option *ngFor="let specialities of medecins" value="{{specialities.speciality}}">
                {{specialities.speciality}}
              </mat-option>
            </mat-select>
           </mat-form-field>
          
          
          
            <select  (selectionChange)="chercheUser($event)"  #input class="btn-lg" class="form-floating w-25" style="margin-left:50% ; margin-top: -125px; padding: 5px; width: 200px; text-align: center;" class="bg-primary">
              <option style="background-color: aliceblue;"class="text-primary" selected value="نوع المستخدم">نوع المستخدم</option>
              <option  style="background-color: aliceblue;"class="text-primary"value="طبيب">طبيب</option>
              <option style="background-color: aliceblue;"class="text-primary" value="ولي
              ">ولي
              </option>
              <option style="background-color: aliceblue;"class="text-primary"value="مربي">مربي</option>
              <option style="background-color: aliceblue;"class="text-primary"value="طبيب أول">طبيب أول</option>
              <option style="background-color: aliceblue;"class="text-primary"value="مدرسة">مدرسة</option>
            </select>-->

            <mat-form-field  style="margin-left:50% ; margin-top: -125px; padding: 5px; width: 150px; height: 80px; text-align: center;" class="bg-primary">
              <mat-label>Type User</mat-label>
              <mat-select (selectionChange)="chercheUser($event)" #input>
                <mat-option  value="نوع المستخدم
                ">
                  نوع المستخدم
                </mat-option>

                <mat-option value=" طبيب 
                ">
                 </mat-option>
                 طبيب
                <mat-option value="مدرسة">
                  ولي
                  ولي                </mat-option>
                <mat-option  value="نوع المستخدم
                ">
                  نوع المستخدم
                </mat-option>
                
                <mat-option value="مدرسة">
                  مدرسة         
                </mat-option>
                <mat-option  value="نوع المستخدم
                ">
                  نوع المستخدم
                </mat-option>
              </mat-select>
             </mat-form-field>
          
            
        
            
          
        
            <button  class="btn btn-lg btn-primary" (click)="openUserDialog()">
                إضافة طبيب أول أو مدرسة
            </button>
          
          </div>
        <div class="contents">
            القائمة               
        </div>
        
        <div class="content">
                
            <table mat-table [dataSource]="dataSource" class="table mt-5">

                
                
                <ng-container matColumnDef="id">
                  <th style="text-align: center;" mat-header-cell *matHeaderCellDef >id</th>
                  <td style="text-align: end;" mat-cell *matCellDef="let element" class="text-center" > {{element.id}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="TypeUser">
                  <th style="text-align: center;" mat-header-cell *matHeaderCellDef >Type User</th>
                  <td style="text-align: end;" mat-cell *matCellDef="let element" class="text-center" > {{element.typeUser}} </td>
                </ng-container>
                
                
                <ng-container matColumnDef="nom">
                    <th  style="text-align: center;" mat-header-cell *matHeaderCellDef>nom</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"  class="text-center"> {{element.nom}} </td>
                  </ng-container>
                  
                
               


                  
                <ng-container matColumnDef="telephone">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>telephone</th>
                    <td  style="text-align: end;" mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                  </ng-container>
                  
                
                <ng-container matColumnDef="email">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>email</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                    
                  <ng-container matColumnDef="loginNumber">
                    <th  style="text-align: end;"  mat-header-cell *matHeaderCellDef> loginnumber </th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> {{element.loginNumber}} </td>
                  </ng-container>
                  <ng-container matColumnDef="password">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>password</th>
                    <td  style="text-align: end;" mat-cell *matCellDef="let element"> {{element.password}} </td>
                  </ng-container>  
                
                    
                
                <ng-container matColumnDef="modifier">
                    <th style="text-align: end;" mat-header-cell *matHeaderCellDef>modifier</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> 
                        <a  class="pointer" style="color:rgb(0, 255, 128)" matTooltip="تحرير هذا المستخدم">
                            <mat-icon (click)="edituser(element)" >edit</mat-icon>
                        </a>
                        <a class="pointer" style="color:rgb(255, 0, 0)" matTooltip="حذف هذا المستخدم">
                            <mat-icon (click)="deleteuser(element.id)">delete </mat-icon>
                        </a>
                    </td>
                  </ng-container>                

              
                
              
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow style="text-align: right;">
            <td class="mat-cell" colspan="4" style="text-align: right;">No data matching the filter "{{input.value}}"</td>
          </tr>
              </table>
              
             

              <h2 *ngIf="listUsers.length ==0">لا يوجد مستخدمون لعرضهم </h2>
        
              
                
              
                
              
      
      
      </div>
  


