<app-header></app-header>
<div fxLayout="row wrap">
<div fxFlex.gt-lg="30" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
   <app-user-profile [User]="User" ></app-user-profile>
</div>
 
<div fxFlex.gt-lg="65" fxFlex.gt-md="68" fxFlex.gt-xs="100" fxFlex="100">
        <div class="header-content">
          
 
         <!-- <mat-form-field appearance="fill">
            <mat-label>spécialité</mat-label>
            <mat-select (selectionChange)="chercheMedecin($event)" #input>
              <mat-option *ngFor="let specialities of medecins" value="{{specialities.speciality}}">
                {{specialities.speciality}}
              </mat-option>
            </mat-select>
           </mat-form-field>
          -->
          
        
          
            <select  (selectionChange)="chercheUser($event)"  #input class="btn-lg" class="form-floating w-25" style="  padding: 5px; width: 200px; text-align: center;" class="bg-primary">
              <option style="background-color: aliceblue;"class="text-primary" selected value="نوع المستخدم">نوع المستخدم</option>
              <option  style="background-color: aliceblue;"class="text-primary"value="طبيب">طبيب</option>
              <option style="background-color: aliceblue;"class="text-primary" value="ولي
              ">ولي
              </option>
              <option style="background-color: aliceblue;"class="text-primary"value="مربي">مربي</option>
              <option style="background-color: aliceblue;"class="text-primary"value="طبيب أول">طبيب أول</option>
              <option style="background-color: aliceblue;"class="text-primary"value="مدرسة">مدرسة</option>
            </select>
          
            
        
            
          
        
            <button  class="btn btn-lg btn-primary" (click)="openUserDialog()">
                إضافة طبيب أول أو مدرسة
            </button>
          
          </div>
        <div class="contents"style=" margin: 1rem 0;">
            القائمة               
        </div>
        
        <div class="content mat-elevation-z8">
          
                
            <table mat-table [dataSource]="dataSource" class="table mt-5">

                
                
                <ng-container matColumnDef="id">
                  <th style="text-align: center;" mat-header-cell *matHeaderCellDef >id</th>
                  <td style="text-align: end;" mat-cell *matCellDef="let element" class="text-center" > {{element.id}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="TypeUser">
                  <th style="text-align: center;" mat-header-cell *matHeaderCellDef >نوع المستخدم</th>
                  <td style="text-align: end;" mat-cell *matCellDef="let element" class="text-center"  > 
                    <button class="btn btn-primary" style=" width:100px" (click)="onSelect(element)" >
                     {{element.typeUser}}
                    </button> </td>
                </ng-container>
                
                
                <ng-container matColumnDef="nom">
                    <th  style="text-align: center;" mat-header-cell *matHeaderCellDef>الأسم</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"  class="text-center"> {{element.nom}} </td>
                  </ng-container>
                  
                
               


                  
                <ng-container matColumnDef="telephone">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>الهاتف</th>
                    <td  style="text-align: end;" mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                  </ng-container>
                  
                
                <ng-container matColumnDef="email">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>البريد الإلكتروني</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> {{element.email}} </td>
                  </ng-container>
                    
                  <ng-container matColumnDef="loginNumber">
                    <th  style="text-align: end;"  mat-header-cell *matHeaderCellDef> رقم الدخول </th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> {{element.loginNumber}} </td>
                  </ng-container>
                  <ng-container matColumnDef="password">
                    <th  style="text-align: end;" mat-header-cell *matHeaderCellDef>كلمه السر</th>
                    <td  style="text-align: end;" mat-cell *matCellDef="let element"> {{element.password}} </td>
                  </ng-container>  
                
                    
                
                <ng-container matColumnDef="modifier">
                    <th style="text-align: end;" mat-header-cell *matHeaderCellDef>تعديل</th>
                    <td style="text-align: end;" mat-cell *matCellDef="let element"> 
                        <a  class="pointer" style="color:rgb(0, 255, 128)" matTooltip="تحرير هذا المستخدم">
                            <mat-icon (click)="edituser(element)" >edit</mat-icon>
                        </a>
                        <a class="pointer" style="color:rgb(255, 0, 0)" matTooltip="حذف هذا المستخدم">
                            <mat-icon (click)="deleteuser(element.id)">delete </mat-icon>
                        </a>
                    </td>
                  </ng-container>                

              
                
              
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
     
             

              <h2 *ngIf="listUsers.length ==0">لا يوجد مستخدمون لعرضهم </h2>
        

                
              
                
            </div>
          </div>
        </div>