.spacer{
    flex: 1 1 auto;
}
span{
    padding-right: 1rem;
    margin-left: 1%;
}
mat-toolbar{
    background: #d5e9fd;
    color: rgb(23, 112, 228);
}

mat-sidenav {
    margin: 26px;
    width:295px;
    border-right: none;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(50vh - 90px);
    margin: 30px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;

    border-radius: 10px;
}

.contents {
    height: calc(7vh - 5px);
    margin: 40px;
    margin-left: 20px;
    display:flex;
    align-items:flex-end;
    justify-content: left;

    font-size: 2rem;
    color: rgb(51, 116, 255);

    border-radius: 10px;
}


mat-sidenav-container{
    height: calc(100vh - 65px);
}



.pointer {
    cursor: pointer;
}

.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #d5e9fd;
}

element.style {
    height: 46%;
    margin-top: 14px;
    width: 164px;
    text-align: center;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* .mat-list-item-content {
  padding: 0 !important;
} */
mat-card {
  margin: 16px;
}
/* @import "../node_modules/@fullcalendar/common/main.css";
@import "../node_modules/@fullcalendar/daygrid/main.css";
@import "../node_modules/@fullcalendar/timegrid/main.css"; */
