<h1 mat-dialog-title style="margin-left:40%; text-align: left;  color:rgb(7, 107, 221)" >إضافة طبيب أول أو مدرسة</h1>
<div mat-dialog-content dir="rtl">
    <form [formGroup]="userForm">

        <div >



            <label for="">
                <h1>نوع المستعمل</h1>

            </label>
            <mat-radio-group formControlName="typeUser">
                <mat-radio-button *ngFor="let list of List" [value]="list.value">
                    {{list.label}}
                </mat-radio-button>
                
               
            </mat-radio-group>
            
              <!--  <span class="form-check form-check-inline ml-5">
                    <label class="form-check-label text-center" for="inlineRadio1" class="text-primary"><h1>نوع المستعمل</h1></label>
                </span>
                <span class="form-check form-check-inline">
                    <input type="text"    class="form-check-input"
                           formControlName="typeUser"
                           id="inlineRadio1" name="typeUser" type="radio" value='nchalla' checked>
                    <label class="form-check-label" for="inlineRadio1">مدرسة</label>
                </span>
                <span class="form-check form-check-inline mb-3">
                    <input type="text"   class="form-check-input"
                           formControlName="typeUser"  id="inlineRadio2" name="typeUser" type="radio"
                           value='nchalla'>
                    <label class="form-check-label" for="inlineRadio2">طبيب أول</label>
                </span>
-->
    
        </div>

        <mat-form-field class="class1" appearance="outline">
            <mat-label>الاسم</mat-label>
            <input formControlName="nom" matInput placeholder="الاسم">
        </mat-form-field>
       
        <mat-form-field class="class1" appearance="outline" *ngIf="this.actionBtn !='تحديث'">
            <mat-label>اللقب</mat-label>
            <input formControlName="familyName" matInput placeholder="الاسم">
        </mat-form-field>
        <mat-form-field class="class1" appearance="outline">
            <mat-label>رقم الهاتف</mat-label>
            <input formControlName="telephone" matInput placeholder="رقم الهاتف">
        </mat-form-field>
        <mat-form-field class="class1" appearance="outline">
            <mat-label>البريد الاكتروني</mat-label>
            <input formControlName="email" matInput placeholder="البريد الاكتروني">
        </mat-form-field >
        <mat-form-field class="class1" appearance="outline">
            <mat-label>رقم التسجيل</mat-label>
            <input formControlName="loginNumber" matInput placeholder="رقم التسجيل">
        </mat-form-field>
        
        <mat-form-field class="class1" appearance="outline">
            <mat-label>كلمة السر</mat-label>
            <input formControlName="password" matInput placeholder="كلمة السر">
        </mat-form-field>
        
        <mat-form-field class="class2" appearance="outline" style="margin-left: 20%;">
            <mat-label>الولاية</mat-label>
            <input formControlName="delegation" matInput placeholder="الولاية">
        </mat-form-field>
        <mat-form-field class="class2" appearance="outline" style="margin-left: 20%;">
            <mat-label>المعتمدية</mat-label>
            <input formControlName="governorate" matInput placeholder="المعتمدية">
        </mat-form-field>
    
        <mat-form-field class="class2" appearance="outline" >
            <mat-label>الترقيم البريدي</mat-label>
            <input formControlName="zipCode" matInput placeholder="الترقيم البريدي">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="postUser()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>إلغاء</button> 
</div>
