<app-header></app-header>
<p class="page-title">المواعيد</p>
<div>
  
</div>
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-full-cases></app-full-cases>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-cancelled-cases></app-cancelled-cases>
  </div>
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100">
    <app-meatings></app-meatings>
  </div>
  <!-- column -->
  <div
    class="charts"
    fxFlex.gt-lg="25"
    fxFlex.gt-md="25"
    fxFlex.gt-xs="50"
    fxFlex="100"
  >
    <app-children></app-children>
  </div>
  <!-- column -->
</div>

<div  class="box" fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div>
    <a href="" class="btn-outline-primary ml-3">التاريخ</a>
    <span class="dots">:</span>صنف حسب
  </div>
  <div>
    <p class="cases">اليوم <span class="number-cases">{{casesNumbers}}</span></p>
    <a href="" class="btn-outline-primary ml-3">الماضية </a
    ><a href="" class="btn-outline-primary"> المقبلة</a>
  </div>
</div>
<div fxLayout="row wrap">
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="50" fxFlex="100" *ngFor="let patient of patients">
    <app-chealdren-profile [patient]=patient></app-chealdren-profile>
  </div>
  
</div>
