<h1 mat-dialog-title style="margin-right:40%;  color:rgb(7, 107, 221)">إضافة طبيب</h1>
<div mat-dialog-content >
    <form [formGroup]="medecinForm">
        <mat-form-field class="class1" appearance="outline">
            <mat-label>اسم</mat-label>
            <input formControlName="nom" matInput placeholder="اسم">
        </mat-form-field>
        <mat-form-field class="class1" appearance="outline">
            <mat-label>اللقب</mat-label>
            <input formControlName="familyName" matInput placeholder="الاسم الأول">
        </mat-form-field>
      

        <mat-form-field class="class1" appearance="outline">
            <mat-label>الهاتف</mat-label>
            <input formControlName="telephone" matInput placeholder="الهاتف">
        </mat-form-field>
        
        <mat-form-field class="class1" appearance="outline">
            <mat-label>البريد الاكتروني</mat-label>
            <input formControlName="email" matInput placeholder="البريد الاكتروني">
        </mat-form-field >
        <mat-form-field class="class1" appearance="outline">
            <mat-label>تخصص</mat-label>
            <input formControlName="speciality" matInput placeholder="تخصص">
        </mat-form-field>

        <mat-form-field class="class1" appearance="outline">
            <mat-label>رقم التسجيل</mat-label>
            <input formControlName="loginNumber" matInput placeholder="رقم التسجيل">
        </mat-form-field>
        
        <mat-form-field class="class1" appearance="outline">
            <mat-label>كلمة السر</mat-label>
            <input formControlName="password" matInput placeholder="كلمة السر">
        </mat-form-field>

     
        <mat-form-field class="class1" appearance="outline" >
            <mat-label>المعتمدية</mat-label>
            <input formControlName="delegation" matInput placeholder="ID">
        </mat-form-field>

        
        
        <div class="class2">
        <mat-form-field class="" appearance="outline" >
            <mat-label>الولاية</mat-label>
            <input formControlName="governorate" matInput placeholder="الولاية">
        </mat-form-field>

        <mat-form-field class="" appearance="outline" >
            <mat-label>الترقيم البريدي</mat-label>
            <input formControlName="zipCode" matInput placeholder="الترقيم البريدي">
        </mat-form-field>
    </div>
       
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="addMedecin()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>إلغاء</button> 
</div>