
<!--<div fxLayout="row wrap">
    <div dir="auto" id="chatContainer">
        <div id="sidebar">
            <div id="sidebarHeader">
    
            </div>
            <div id="searchBox">
                <input type="text" placeholder="بحث"/>
                <img width="15" src="./assets/images/searchicon.png"/>
            </div>
            <div id="sidebarContent">
                <div id="noConversations">
                    All chats are archieved
                </div>
            </div>
        </div>
        <div id="chat"></div>
    </div>
</div>

-->


<app-header-super-doctor></app-header-super-doctor>
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
      efezfze
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
            <div class="lignes">
                <div id="sidebarHeader">
    
                </div>
                <div id="searchBox">
                    <input type="text" placeholder="بحث"/>
                    <img width="15" src="./assets/images/searchicon.png"/>
                </div>
                <div id="sidebarContent">
                    <div id="noConversations">
                        All chats are archieved
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
  