<app-header-super-doctor></app-header-super-doctor>
<mat-toolbar class="hello"> مرحبا </mat-toolbar>
<div fxLayout="row wrap ">
    <!-- column -->
    <div
      fxFlex.gt-lg="75"
      fxFlex.gt-md="75"
      fxFlex.gt-xs="75"
      fxFlex="100"
      class="chat"
    >
      <app-chat [medecin]="medecin" *ngIf="medecin"></app-chat>
    </div>
    <!-- column -->
    <div
      fxFlex.gt-lg="25"
      fxFlex.gt-md="25"
      fxFlex.gt-xs="25"
      fxFlex="100"
      class="contact"
    >
      <app-sidebar (conversation)="onConversationSelected($event)"></app-sidebar>
    </div>
    <!-- column -->
  </div>
  