p {
    margin-bottom: 0 !important;
  }
  .img-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .doctor-detils .name {
    margin-bottom: 0 !important;
    font-size: 16px;
    font-weight: bold;
  }
  .setting {
    font-size: 20px;
    color: lightcoral;
  }
  .search {
    background: #eeeeee57;
    color: black;
    display: flex;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding-left: 4px;
    cursor: pointer;
    flex-direction: row-reverse;
    position: relative;
    margin: auto;
    border: 2px solid #e7dada42;
  }
  .search-input {
    color: black;
    line-height: 19px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
  }
  .search-input::-webkit-input-placeholder {
    color: rgba(26, 24, 24, 0.35);
  }
  .search-icon {
    padding: 0 30px 0 10px;
    color: rgba(17, 13, 240, 0.35);
  }
  .plus {
    font-size: 40px;
    color: lightcoral;
  }
  
  .contact-name {
    font-weight: bold;
  }
  .img-contact {
    margin-right: 30px;
  
  }
  .connected {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid white;
    position: absolute;
    left: 50px;
    bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .link {
    border: 2px solid rgb(213 213 227 / 35%);
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    height: 60px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .active,
  .link:hover {
    background: #2c88d8;
    color: #ffffff;
    transition: 0, 3s;
    -webkit-transition: 0, 3s;
    -moz-transition: 0, 3s;
    -ms-transition: 0, 3s;
    -o-transition: 0, 3s;
  }
  
  #sidebarContent {
    overflow: auto;
    .list-contact {
      height: 436px;
    }
  }
  
  
  