<app-landing-navbar></app-landing-navbar>
<!-- <div>
  <img [src]="bgImage" alt="" height="30%" width="100%" />
</div> -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>

  </div>
 <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/landing/landing.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p>صعوبات التعلم</p>
          <p>اضطراب يعيق عملية التعلم الطبيعية، وهذا الاضطراب يكون في العمليات التي تدخل في عملية التعلم مثل الذاكرة والإدراك والانتباه والتفكير واستراتيجيات التعلم، وكيفية معالجة المواد اللغوية الشفوية والمكتوبة، وغالباً تتأثر القراءة والكتابة (الإملاء، والتعبير التحريري، والخط!</p>
          <a (click)="inscription()" class="btn btn-outline-primary">التسجيل</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing/woman.jpg" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p>فرط الحركة وقلة التركيز</p>
          <p>هو اضطراب نقص الانتباه والتركيز وفرط الحركة عند الأطفال وهو خلل عصبي خلقي يؤدي إلى ضرر في قدرات الإدارة والتحكم التي يعبر عنها بصعوبة في التركيز، الانتباه صعوبات في تنظيم وإدارة الوقت والأنشطة، وغير ذلك.</p>
          <a (click)="inscription()" class="btn btn-outline-primary">التسجيل</a>
        
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing/Autism-1.png"class="d-block w-100" alt="...">
        
        <div class="carousel-caption d-none d-md-block">
          <p>التوحد</p>
          <p>هو اضطراب عصبي يؤثر في النمو، ويحدث في مرحلة مبكرة من الطفولة، ويستمر طوال فترة الحياة. كما يؤثر في كيفية تصرف الشخص وتفاعله مع الآخرين ويؤثر أيضا في تواصله وتعلمه.</p>
          <a (click)="inscription()" class="btn btn-outline-primary">التسجيل</a>
        
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/landing/class.webp" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint animi in voluptas deleniti harum aut neque assumenda ea possimus! Laborum!</p>
          <a (click)="inscription()" class="btn btn-outline-primary">التسجيل</a>
        
        </div>
      </div>
     
    </div>
    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselTrouble" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselTrouble" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>  -->
  </div>
  
  
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
  

<p class="title my-4">
  من نحن
 </p> 

<section class="services"id="services">
 
 
 
  
  <div class="services__box">
    <figure class="services__icon" style="--i:#37ba82">
      <i class="fa-solid fa-user-doctor"></i>
    </figure>
    <div class="services__content">
      <h2 class="services__title">
        فريق متكون
      </h2>
      <p class="services__description">
    من أطباء نفسيين للأطفال و اخصائيين نفسيين نعمل بقسم الطب النفسي للأطفال بالمستشفى
      </p>
    </div>
  </div>
  <div class="services__box">
    <figure class="services__icon" style="--i:#4eb7ff">
      <i class="fa-solid fa-briefcase-medical"></i>
    </figure>
    <div class="services__content">
      <h2 class="services__title">
            تقصي مبكر  
      </h2>
      <p class="services__description">
        يجري الفريق تقصيا مبكرا لاضطراب تشتت الانتباه وفرط الحركة لدى الاطفال لهدف التدخل المبكر
      </p>
    </div>
  </div>
  <div class="services__box">
    <figure class="services__icon" style="--i:#fd6494">
      <img src="/assets/images/landing/almandoubia.png">
    </figure>
    <div class="services__content">
      <h2 class="services__title">
        المؤسسات المبكرة للطفولة 
      </h2>
      <p class="services__description">
           بالتنسيق مع المؤسسات المبكرة للطفولة تحت اشراف المندوبية الجهوية للمرأة والأسرة وكبار السن
      </p>
    </div>
  </div>
</section>
<p class="title my-4">
  الاختصاصات
 </p> 
<section id="spetialites">

<div class="spetialites">

 <div class="spetialite">
  <mat-card class="example-card">
  
    <img mat-card-image src='assets/images/landing/doctorandchild3.jpg' alt="doctor and child">
    <mat-card-content>
      <h3 class="spetialite-title">
        الطب النفسي للأطفال

      </h3>
      <p>
        هو فرع من فروع الطب النفسي المخصص للأطفال ، منذ الولادة الى سن ال18. ويقوم على دراسة وتشخيص وعلاج والوقاية من الاضطرابات النفسية التي تصيب الاطفال و الشباب
      </p>
    
    </mat-card-content>
  
  </mat-card>
  
</div>
<div class="spetialite mx-3">
  <mat-card class="example-card">
  
    <img mat-card-image src='assets/images/landing/doctorandchild2.jpg' alt="doctor and child">
    <mat-card-content>
      <h3 class="spetialite-title">طب الاطفال
      </h3>
      <p>
       
        هو أحد فروع الطب الذي يتعامل مع الرعاية الطبية للأطفال الذين يعانون من مرض حاد أو مزمن ولكن أيضًا خدمات صحية وقائية للأطفال الأصحاء أيضا، و ذلك في كل مرحلة من مراحل النمو سواء مرحلة الرضاعة أو الطفولة أو مرحلة المراهقة
      </p>
    </mat-card-content>
  
  </mat-card>
  
 </div>
<div class="spetialite">
  <mat-card class="example-card">
  
    <img mat-card-image src='/assets/images/landing/doctorandchild.jpg' alt="doctor and child">
    <mat-card-content>
      <h3 class="spetialite-title">الطب العام
      </h3>
      <p>
       
        هو الإلمام الكامل بالأمراض التي تصيب جسم الإنسان والأعراض المصاحبة لهذه الأمراض. و تقوم على تقديم الرعاية الصحية الأولية للمرضى
      </p>
    </mat-card-content>
  
  </mat-card>
  
</div>
</div>

</section>
<p class="title my-4">
  الشركاء
 </p> 

 <section id="partners">
   <div class="testimonials">
    <div class="testimonial">
      <span class="icon fa fa-quote-left"></span>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <div class="testimonial-content">
        <div class="pic">
          <img src="/assets/images/landing/HADICHAKER.png" alt="">
        </div>
        <!-- <h3 class="name">Michele Miller</h3> -->
      
      </div>
    </div>
    <div class="testimonial">
      <span class="icon fa fa-quote-left"></span>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <div class="testimonial-content">
        <div class="pic">
          <img src="/assets/images/landing/troubleASSOCIATION.png" alt="">
        </div>
        <!-- <h3 class="name">Michele Miller</h3> -->
      
      </div>
    </div>
    <div class="testimonial">
      <span class="icon fa fa-quote-left"></span>
      <p class="description">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>
      <div class="testimonial-content">
        <div class="pic">
          <img src="/assets/images/landing/ALGERIE.jpg"alt="">
        </div>
        <!-- <h3 class="name">Michele Miller</h3> -->
      
      </div>
    </div>
   </div>
 </section>
<section></section> 
