<app-landing-navbar></app-landing-navbar>
<!-- <div>
  <img [src]="bgImage" alt="" height="30%" width="100%" />
</div> -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <img  [src]="bgImage" alt="img 1" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img  [src]="bgImage" alt="img 2" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img  [src]="bgImage" alt="img 3" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img  [src]="bgImage"alt="img 4" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img [src]="bgImage" alt="img 5" />
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <img  [src]="bgImage"alt="img 6" />
    </div>
  </ng-template>
</owl-carousel-o>
