mat-form-field.class1{
    width: 80%;
    display: block;
    margin: auto;
}

.class2{
    
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
.class2 mat-form-field{
    width: 125px;
    
}

.mat-dialog-actions{
    justify-content: flex-end;
    }
    