<app-header></app-header>
<p class="page-title">{{ pageTitle }}</p>
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="25" fxFlex.gt-md="25" fxFlex.gt-xs="25" fxFlex="100">
    <app-patient-profile [patient]="patient"></app-patient-profile>
  </div>
  <!-- column -->
  <!-- column -->

  <!-- column -->
  <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="50" fxFlex="100">
    <app-consultation></app-consultation>
  </div>
  <!-- column -->
  <div
    class="charts"
    fxFlex.gt-lg="25"
    fxFlex.gt-md="25"
    fxFlex.gt-xs="30"
    fxFlex="100"
  >
    <app-list-patients (select)="onLogin($event)"></app-list-patients>
  </div>
  <!-- column -->
</div>
