<app-header-super-doctor></app-header-super-doctor>
<div fxLayout="row">
        <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
          <app-profil-enfants [enfant]="enfant"></app-profil-enfants>   
        </div>
        <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
          <div fxLayout="row wrap">
            <div class="class1"></div>
            
            </div>   
            <app-list-enfants  (select)="onLogin($event)"></app-list-enfants>
          </div>
</div>    
  

    
  