<div *ngFor="let medecin of medecins"  class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img src="./assets/images/man.png"  width="50%" max-width= "250px" class="header-image">
            </div>
            <mat-card-title style="margin-right: -10px;">
                {{medecin.nom}} 
            </mat-card-title>
            <mat-card-subtitle style="margin-right: -10px;">
                {{medecin.speciality}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p style="text-align:right; margin-top:8%">{{medecin.cin}}</p>
            <p style="text-align:right;"> {{medecin.email}}</p>
        </mat-card-content>

    </mat-card>
</div>
