<div  style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">
  <div style=" margin-right:15%; color: rgba(26,125,183,1); ">
   <span>إفهمني</span>
 </div>
 <div style="margin-top: 3%; color:  rgba(100,109,130,1); margin-right: 10%; ">
   <span>مرحبا ، من فضلك سجل الدخول</span>
 </div>
 <div style="width: 410px;  margin-right: 5%; margin-top: 5%; " class="m-3 p-3 shadow">
  <input type="email"  class="form-control" placeholder="البريد الإلكتروني"> 
  </div>
  
 <button style="width: 180px;  margin-right: 10%; margin-top: 5%; " 
 class="btn btn-primary" (click)="onSignup()" >إرسال</button>
 
 <div style="margin-top: -25%; margin-right: 50%;">
  <img  src="assets/img1.png" id="img1" >
  </div>


</div>



