<app-nav-bar></app-nav-bar>
<div class="row">
  <div class="col-sm-6">
    <img  src="assets/img1.png" id="img1">
  </div>

<div style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">
  <div class="col-sm-6">
   <div style=" margin-right:15%;  color: rgba(26,125,183,1); ">
   <span class="h2" >إفهمني</span>
   </div>
   <div style="margin-top: 3%; color:  rgba(100,109,130,1); margin-right: 10%; ">
      <span class="h5">مرحبا ، من فضلك سجل الدخول</span>
   </div>

   <form class="form-horizontal">
 


   <form  class="form-inline" style="margin-top: 3%; margin-right: 5%; ">

     <form novalidate (ngSubmit)="saveData(registerForm)" #registerForm="ngForm"> 
  
      <div  class="form-group" >
       
       
       <input type="email"
       id="email"
       style="width: 383px;"
       class="form-control"
       placeholder="البريد الإلكتروني"
       ngModel [email]="true"
       [(ngModel)]="user.email"
       name="email"
       required
       #emailVar="ngModel"
        [ngClass]="{ 'is-invalid': emailVar.touched && !emailVar.valid }" />

       <div class="invalid-feedback">
         <span *ngIf="emailVar.errors?.['email']">
          البريد الإلكتروني غير صحيح
         </span>
         
        
       </div>
       </div>
      
    
  </form>
  
  <button
 type="submit"
[disabled]="!registerForm.valid" 

 style="width: 180px;  margin-right: 8%; margin-top: 5%; " 
 class="btn btn-primary" (click)="onSignup()" >إرسال</button>


</form>


 
</form>
</div>
</div>




