<div>

    <div id="Text_bw">
        <span>إفهمني</span>
    </div>
      
    <div id="n_____">
        <span>مرحبا ، من فضلك سجل الدخول</span>
    </div>
    <div (click)="onSignup()" id="btn_signup">
        <svg class="Rectangle_167">
          <rect id="Rectangle_167" rx="4" ry="4" x="0" y="0" width="185" height="50">
          </rect>
        </svg>
        <div id="n__">
          <span>إرسال<br/></span><br/>
        </div>
      </div>

      <div id="label" class="label">
        <div id="label_bm">
          <div id="label_bn" class="label">
            <form style="width: 330px;">
            <input type="email" class="form-control" placeholder="البريد الإلكتروني"> 
            </form>
          </div>
        </div>
      </div>
   


    <img src="assets/img1.png" id="img1" >
 </div>



    

