<h1 mat-dialog-title style="margin-right:45%;  color:rgb(7, 107, 221)">إسناد موعد </h1>
<mat-card class="profile-content">
  <mat-card-content class="">
    <div fxLayout="column" fxLayoutAlign="center center">
      <img src="./assets/images/users/user-1.jpg"  mat-card-avatar />
      <h3 class="name">{{ nomEnfant}} {{ familyName}}</h3>
      <p class="age">معطيات الطفل</p>
    </div>
    <div class="details" fxLayout="row" fxLayoutAlign="">
      <mat-list role="list" class="list">
        <mat-list-item role="listitem">اسم و لقب الولي: {{ nomParent}} {{familyName}} </mat-list-item>
        <mat-list-item role="listitem">  تاريخ الولادة: {{ birthday}}</mat-list-item>
        <mat-list-item role="listitem"> رقم هاتف الولي{{ telephone}}</mat-list-item>
        <mat-list-item role="listitem">النتيجة: {{ score}}</mat-list-item>
        

      </mat-list>
    </div>
  
      <mat-form-field  class="class1" appearance="outline">
          <mat-select [(value)]="idMedecin" formControlName="idMedecin" (selectionChange)="chercheMedecin($event)" placeholder="قائمة الأطباء" #input>
              <mat-option *ngFor="let medecin of data"  value={{medecin.id}}>
                {{medecin.name}}
                {{medecin.familyName}}
              
              </mat-option>
            </mat-select>
      </mat-form-field>
    
  </mat-card-content>
</mat-card>

<div mat-dialog-actions [align]="'end'" style="margin-left: 65%;">
    <button mat-raised-button color="warn" mat-dialog-close>إلغاء</button> 
    <button  mat-raised-button color="primary" (click)="affecterMedecin(idMedecin,$event)">تأكيد</button>
</div>