<mat-card dir="rtl" class="profile-content">
    <mat-card-content class="">
      <div class="item">
        <img src="./assets/images/users/user-2.jpg" mat-card-avatar />
        <div class="item-box">
          <div class="description">
            <h3>{{nom}}</h3>
            <span class="status">Médecin</span>
          </div>
  
          <div class="details" fxLayout="row" fxLayoutAlign="center">
            <mat-list role="list" class="list">
              <mat-list-item role="listitem">Tel:{{telephone}}</mat-list-item>
              <mat-list-item role="listitem"
                >Email:{{email}}</mat-list-item
              >
              <mat-list-item role="listitem">Region:{{gouvernat}}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  