<app-nav-bar></app-nav-bar>
<div  style="margin-top: 5%; margin-left: 2%; margin-right: 2%;">
   <div style=" margin-right:15%; color: rgba(26,125,183,1); ">
    <span>إفهمني</span>
  </div>
  <div style="margin-top: 3%; color:  rgba(100,109,130,1); margin-right: 10%; ">
    <span>الرجاء إكمال إنشاء حسابك</span>
  </div>
  


  <form class="form-inline" style="margin-top: 2%; margin-right: 5%;">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" placeholder="اللقب">
    </div>
    <div class="form-group ml-3" style="margin-right:3%;">
      
      <input type="email" id="mail" name="mail" placeholder="الاسم">
    </div>
  </form>
  <form class="form-inline" style="margin-top: 1%; margin-right: 5%;">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" placeholder="رقم بطاقة الهوية الوطنية">
    </div>
    <div class="form-group ml-3" style="margin-right:3%;">
      
      <input type="email" id="mail" name="mail" placeholder="رقم الهاتف">
    </div>
  </form>

  <form class="form-inline" style="margin-top: 1%; margin-right: 5%; ">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" style="width: 383px;" placeholder="البريد الإلكتروني">
    </div>
    
  </form>

  <form class="form-inline" style="margin-top: 1%; margin-right: 5%; ">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" style="width: 383px;" placeholder="كلمة السر">
    </div>
    
  </form>

  <form class="form-inline" style="margin-top: 1%; margin-right: 5%; ">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" style="width: 383px;" placeholder="تأكيد كلمة السر">
    </div>
    
  </form>

  <form class="form-inline" style="margin-top: 1%; margin-right: 5%;">
    <div class="form-group">
      
      <input type="text" id="prenom" name="prenom" placeholder="الرمز البريدي">
    </div>
    <div class="form-group ml-3" style="margin-right:3%;">
      
      <input type="email" id="mail" name="mail" placeholder="الولاية">
    </div>
  </form>

  <div style="margin-right: 10%; margin-top: 3%;" class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
       أقبل الأحكام والشروط
    </label>
  </div>


  <button style="width: 180px;  margin-right: 15%; margin-top: 5%; " class="btn btn-primary" (click)="onSignin()" >سجل</button>

  <div style="color: rgba(100,109,130,1); margin-right: 15%; margin-top: 2%;" >
    <a routerLink="/signin" routerLinkActive="active">بالفعل عضو ؟ تسجيل الدخول
  </a>
  </div>
  <div style="margin-top: -45.5%; margin-right: 50%;">
  <img  src="assets/img1.png" id="img1" >
  </div>





    

   



