
<div class="rtl">
    <div>
      <div id="Text_bw">
        <span>إفهمني</span>
      </div>
      
      <div id="Text_bw1">
          <span>الرجاء إكمال إنشاء حسابك</span>
      </div>
    </div>
    
    <div class="rtl" id="label" class="label">
      <div id="label_bm">
        <div id="label_bn" class="label">
          <form style="width: 150px;">
            <input  type="text" class="form-control" placeholder="الاسم" > 
          <br>
          <br>
            <input type="tel" class="form-control"  placeholder="رقم الهاتف">
          </form>
        </div>
      </div>
    </div>


    <div id="label2" class="label2">
      <div id="label_bm2">
        <div id="label_bn2" class="label2">
          <form style="width: 330px;">
            <input  type="email" class="form-control" placeholder="البريد الإلكتروني"> 
            <br>
            <br>
            <input type="password" class="form-control"  placeholder="كلمة السر">
          </form>
        </div>
      </div>
    </div>
    <div id="label3" class="label3">
      <div id="label_bm3">
        <div id="label_bn3" class="label3">
          <form  style="width: 330px;">
            <input  size="10" type="password" class="form-control" placeholder="تأكيد كلمة السر"  > 
            <br>
            <br>
          </form>
        </div>
      </div>
    </div>
    
    <div id="label31" class="label31">
      <div id="label_bm31">
        <div id="label_bn31" class="label31">
          <form style="width: 150px;" >
            <input type="text" class="form-control"  placeholder="الولاية">
          </form>
        </div>
      </div>
    </div>
    
    <div class="rtl" id="label4" class="label4">
      <div id="label_bm4">
        <div id="label_bn4" class="label4">
          <form style="width: 150px;">
            <input type="text" size="50" class="form-control" placeholder="اللقب"> 
            <br>
            
          
            <input type="text" class="form-control"  placeholder="رقم بطاقة الهوية الوطنية">
          </form>
        </div>
      </div>
    </div>
    <div id="label5" class="label5">
      <div id="label_bm5">
        <div id="label_bn5" class="label5">
          <form style="width: 150px;">
            <input type="text" class="form-control" placeholder="الرمز البريدي"> 
          </form>
        </div>
      </div>
    </div>
    
          
       
    <div (click)="onSignup()" id="btn_signup">
      <svg class="Rectangle_167">
        <rect id="Rectangle_167" rx="4" ry="4" x="0" y="0" width="185" height="50">
        </rect>
      </svg>
      <div id="n__">
        <span>سجل<br/></span><br/>
      </div>
    </div>
    <div class="form-check" id="flexCheckDefault">
      <input class="form-check-input" type="checkbox" >
      <label class="form-check-label" for="flexCheckDefault">
        أقبل الأحكام والشروط
      </label>
    </div>
    <div id="n___">
        <a routerLink="/signin" routerLinkActive="active">بالفعل عضو ؟ تسجيل الدخول
        </a>
       
      </div>
    
     <img src="assets/img1.png" id="img1" >
    
     </div> 

