
    #Text_bw {
        left: 1150px;
        top: 138px;
        position: absolute;
        overflow: visible;
        width: 91px;
        white-space: nowrap;
        text-align: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        color: rgba(26,125,183,1);
    }
    #Text_bw1 {
        opacity: 0.5;
        left: 1090px;
        top: 240px;
        position: absolute;
        overflow: visible;
        width: 191px;
        white-space: nowrap;
        line-height: 24px;
        margin-top: -4.5px;
        text-align: center;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: rgba(100,109,130,1);
    }

    #n__ {
        left: 59px;
        top: 13px;
        position: absolute;
        overflow: visible;
        width: 61px;
        white-space: nowrap;
        text-align: center;
        font-family: Avenir;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: rgba(255,255,255,1);
    }
    
    #Rectangle_167 {
        fill: rgba(26,125,183,1);
        stroke: rgba(28,123,182,1);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
    }
    .Rectangle_167 {
        position: absolute;
        overflow: visible;
        width: 185px;
        height: 50px;
        left: 0px;
        top: 0px;
    }



#label_bn {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}
#label_bn2 {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}
#label_bn3 {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}
#label_bn31 {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}
#label_bn4 {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}
#label_bn5 {
    position: absolute;
    width: 400px;
    height: 31.809px;
    left: 0px;
    top: -1px;
    overflow: visible;
}


#label_bm4 {
    position: absolute;
    width: 400px;
    height: 114.809px;
    left: 470px;
    
    top: 0px;
    overflow: hidden;
}
#label_bm2 {
    position: absolute;
    width: 400px;
    height: 114.809px;
    left: 700px;
    top: 50px;
    overflow: hidden;
}
#label_bm3 {
    position: absolute;
    width: 500px;
    height: 114.809px;
    left: 700px;
    top: 200px;
    overflow: hidden;
}
#label_bm31 {
    position: absolute;
    width: 500px;
    height: 114.809px;
    left: 517px;
    top: 200px;
    overflow: hidden;
}
#label_bm {
    position: absolute;
    width: 500px;
    height: 114.809px;
    left: 342px;
    top: 0px;
    overflow: hidden;

}
#label_bm5 {
    position: absolute;
    width: 500px;
    height: 114.809px;
    left: 470px;
    top: 200px;
    overflow: hidden;

}

#label {
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 450px;
    top: 300px;
    overflow: visible;
}



#label2{
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 270px;
    top: 380px;
    overflow: visible;  
}


#label3 {
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 270px;
    top: 370px;
    overflow: visible;
}
#label31 {
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 270px;
    top: 450px;
    overflow: visible;
}
#label4 {
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 500px;
    top: 300px;
    overflow: visible;
}
#label5 {
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 500px;
    top: 450px;
    overflow: visible;
}

#btn_signup {
    position: absolute;
    width: 185px;
    height: 63px;
    left: 1120px;
    top: 800px;
    overflow: visible;
    --web-animation: fadein 0.4000000059604645s ease-out;
    --web-action-type: page;
    --web-action-target: 04_Sign_up_page.html;
    cursor: pointer;
}

#flexCheckDefault{
    position: absolute;
    width: 200px;
    height: 114.809px;
    left: 1170px;
    top: 730px;
    overflow: visible;
    color: rgba(100,109,130,1);
}

#img1 {
    position: absolute;
    width: 718px;
    height: 718px;
    left: 21px;
    top: 121px;
    overflow: visible;
}

#n___ {
    left: 1175px;
    top: 850px;
    position: absolute;
    overflow: visible;
    width: 112px;
    white-space: nowrap;
    --web-animation: fadein 0.4000000059604645s ease-out;
    --web-action-type: page;
    --web-action-target: 04_Forgot_your_password.html;
    cursor: pointer;
    line-height: 104px;
    margin-top: -4.5px;
    text-align: right;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(100,109,130,1);
}
