<mat-card>
  <mat-card-title
    class="doctor p-20"
    FxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div
      class="message-widget contact-widget"
      FxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <!-- Image Docter -->
      <div class="docter-img">
        <img
          src="./assets/images/users/user-1.jpg"
          alt="user"
          class="img-circle"
        />
      </div>
      <!-- Docter Details -->
      <div class="patient">
        <h5>Imed Akrrouti</h5>
        <span class="age">3ans</span>
      </div>
    </div>
    <div class="last-login">
      <span class="time">05 min</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="consultation">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ab rem
      itaque dolorem amet quasi maxime iste. Rerum adipisci aspernatur sit
      necessitatibus dolor totam mollitia at voluptas quisquam optio iusto,
      architecto facilis numquam voluptates? Quisquam distinctio inventore at
      officiis, unde qui ducimus, pariatur animi praesentium quos dignissimos
      suscipit nam, reprehenderit aliquam ratione quis eveniet nostrum. Eos
      nihil quo dolores ipsam!
    </div>
  </mat-card-content>
</mat-card>
