<mat-card>
  <mat-card-title
    class="doctor p-20"
    FxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div
      class="message-widget contact-widget"
      FxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <!-- Image Docter -->
      <div class="docter-img">
        <img
          src="./assets/images/users/images.jfif"
          alt="user"
          class="img-circle"
        />
      </div>
      <!-- Docter Details -->
      <div class="patient">
        <h5>Sayf msallem</h5>
        <span class="age">3ans</span>
      </div>
    </div>
    <div class="last-login">
      <span class="time">05 min</span>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div class="consultation">
      <div class="symptons">
        <p class="title">الأعراض</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ab rem
        itaque dolorem amet quasi maxime iste. Rerum adipisci aspernatur sit
        necessitatibus dolor totam mollitia at voluptas quisquam optio iusto,
        architecto facilis numquam voluptates? Quisquam distinctio inventore at
        officiis, unde qui ducimus, pariatur animi praesentium quos dignissimos
        suscipit nam, reprehenderit aliquam ratione quis eveniet nostrum. Eos
        nihil quo dolores ipsam!
      </div>
      <div class="">
        <p class="title">التشخيص</p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, ab rem
        itaque dolorem amet quasi maxime iste. Rerum adipisci aspernatur sit
        necessitatibus dolor totam mollitia at voluptas quisquam optio iusto,
        architecto facilis numquam voluptates? Quisquam distinctio inventore at
        officiis, unde qui ducimus, pariatur animi praesentium quos dignissimos
        suscipit nam, reprehenderit aliquam ratione quis eveniet nostrum. Eos
        nihil quo dolores ipsam!
      </div>
    </div>
  </mat-card-content>
  <div FxLayout="row">
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="50" fxFlex="100">
      <app-hart></app-hart>
    </div>
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="50" fxFlex="100">
      <app-sugar></app-sugar>
    </div>
  </div>
  <div FxLayout="row" fxLayoutAlign="center center">
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="50" fxFlex="100">
      <app-tension></app-tension>
    </div>
  </div>
</mat-card>
